Id: {{ book.id }}
<br />
Name: {{ book.title }}
<br />
Description: {{ book.description }}
<br />
Price: {{ book.price }}
<br />
Author:
{% for author in book.author.all %}
  {{ author.name }}{% if not forloop.last %},{% endif %}
{% endfor %}

<br />
<a href="{% url 'books:book-update' book.id %}">Update</a>
<br />
<a href="{% url 'books:book-delete' book.id %}">Delete</a>