<a href="{% url 'books:book-create' %}">Create</a>
<br />

<ul>
  {% for book in book_list %}
    <li>
      <a href="{% url 'books:book-detail' book.id %}">{{ book.title }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>