Id: {{ service.id }}
<br />
Name: {{ service.name }}
<br />
Description: {{ service.description }}
<br />
Price: ${{ service.price }}
<br />

<a href="{% url 'services:service-update' service.id %}">Update</a>
<br />
<a href="{% url 'services:service-delete' service.id %}">Delete</a>