Are you sure you want to delete {{ service.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'services:service-list' %}">Nevermind</a>
</form>