<a href="{% url 'services:service-create' %}">Create service</a>
<br />

<ul>
  {% for service in service_list %}
    <li>
      <a href="{% url 'services:service-detail' service.id %}">{{ service.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>