<a href="{% url 'heroes:hero-create' %}">Create</a>
<br />

{% if hero_list %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for hero in hero_list %}
        <tr>
          <td>
            <a href="{% url 'heroes:hero-detail' hero.id %}">{{ hero.name }}</a>
          </td>
          <td>
            <a href="{% url 'heroes:hero-update' hero.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'heroes:hero-delete' hero.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  Nothing to show
{% endif %}