Welcome to notes app
<br />
{% if user.is_authenticated %}
  <a href="{% url 'notes:note-list' %}">Notes</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
  <br />
  <a href="{% url 'registration:signup' %}">Signup</a>
{% endif %}
