<a href="{% url 'notes:note-create' %}">Create</a>
<br />

{% if note_list %}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for note in note_list %}
        <tr>
          <td>
            <a href="{% url 'notes:note-detail' note.id %}">{{ note.title }}</a>
          </td>
          <td>
            <a href="{% url 'notes:note-update' note.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'notes:note-delete' note.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  Nothing to show
{% endif %}