Are you sure you want to delete {{ project.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'projects:project-list' %}">Nevermind</a>
</form>