<a href="{% url 'projects:project-create' %}">Create project</a>
<br />

<ul>
  {% for project in project_list %}
    <li>
      <a href="{% url 'projects:project-detail' project.id %}">{{ project.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>