Id: {{ project.id }}
<br />
Name: {{ project.name }}
<br />
Description: {{ project.description }}
<br />

<a href="{% url 'projects:project-update' project.id %}">Update</a>
<br />
<a href="{% url 'projects:project-delete' project.id %}">Delete</a>