Are you sure you want to delete {{ villain.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'villains:villain-list' %}">Nevermind</a>
</form>