<a href="{% url 'villains:villain-create' %}">Create</a>
<br />

{% if villain_list %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for villain in villain_list %}
        <tr>
          <td>
            <a href="{% url 'villains:villain-detail' villain.id %}">{{ villain.name }}</a>
          </td>
          <td>
            <a href="{% url 'villains:villain-update' villain.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'villains:villain-delete' villain.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  Nothing to show
{% endif %}