<a href="{% url 'villains:villain-list' %}">Back to list</a>
<br>
<br>
Id: {{ villain.id }}
<br />
Name: {{ villain.name }}
<br />
Price: {{ villain.superpower }}
<br />
Price: {{ villain.secret_identity }}
