Are you sure you want to delete {{ product.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'products:product-list' %}">Nevermind</a>
</form>