<a href="{% url 'products:product-create' %}">Create</a>
<br />

<ul>
  {% for product in product_list %}
    <li>
      <a href="{% url 'products:product-detail' product.id %}">{{ product.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>