<a href="{% url 'students:student-create' %}">Create</a>
<br />

<ul>
  {% for student in student_list %}
    <li>
      <a href="{% url 'students:student-detail' student.id %}">{{ student.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>