Are you sure you want to delete {{ student.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'students:student-list' %}">Nevermind</a>
</form>