Id: {{ accessory.id }}
<br />
Description: {{ accessory.description }}
<br />
Price: {{ accessory.price }}
<br />
{% comment %}
<a href="{% url 'accessorys:accessory-update' accessory.id %}">Update</a>
<br />
<a href="{% url 'accessorys:accessory-delete' accessory.id %}">Delete</a>
{% endcomment %}