<a href="{% url 'store:store-create' %}">Create</a>
<br />

<ul>
  {% for store in accessories %}
    <li>
      <a href="{% url 'store:store-detail' store.id %}">{{ store.description }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>