Id: {{ product.id }}
<br />
Name: {{ product.name }}
<br />
Price: {{ product.price }}

<br />
<a href="{% url 'products:product-update' product.id %}">Update</a>
<br />
<a href="{% url 'products:product-delete' product.id %}">Delete</a>