Are you sure you want to delete {{ professor.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'professors:professor-list' %}">Nevermind</a>
</form>