<a href="{% url 'professors:professor-create' %}">Create</a>
<br />

<ul>
  {% for professor in professor_list %}
    <li>
      <a href="{% url 'professors:professor-detail' professor.id %}">{{ professor.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>