Id: {{ professor.id }}
<br />
Name: {{ professor.name }}

<a href="{% url 'professors:professor-update' professor.id %}">Update</a>
<br />
<a href="{% url 'professors:professor-delete' professor.id %}">Delete</a>