Welcome to *creative social network name*
<br />
{% if user.is_authenticated %}
  <a href="{% url 'posts:post-list' %}">Posts</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
  <br />
  <a href="{% url 'registration:signup' %}">Signup</a>
{% endif %}
