Are you sure you want to delete {{ employee.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'employees:employee-list' %}">Nevermind</a>
</form>