Id: {{ employee.id }}
<br />
Name: {{ employee.name }}
<br />
Position: {{ employee.position }}
<br />
Salary: {{ employee.salary }}
<br />

<a href="{% url 'employees:employee-update' employee.id %}">Update</a>
<br />
<a href="{% url 'employees:employee-delete' employee.id %}">Delete</a>