<a href="{% url 'employees:employee-create' %}">Create</a>
<br />

<ul>
  {% for employee in employee_list %}
    <li>
      <a href="{% url 'employees:employee-detail' employee.id %}">{{ employee.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>