<a href="{% url 'posts:post-create' %}">Create post</a>
<br />

{% if post_list %}
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for post in post_list %}
        <tr>
          <td>
            <a href="{% url 'posts:post-detail' post.id %}">{{ post.description }}</a>
          </td>
          <td>
            <a href="{% url 'posts:post-update' post.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'posts:post-delete' post.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  Nothing to show
{% endif %}