Are you sure you want to delete {{ post.description }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'posts:post-list' %}">Nevermind</a>
</form>