Are you sure you want to delete {{ article.title }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'articles:article-list' %}">Nevermind</a>
</form>