<a href="{% url 'articles:article-create' %}">Create</a>
<br />

{% if article_list %}
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for article in article_list %}
        <tr>
          <td>
            <a href="{% url 'articles:article-detail' article.id %}">{{ article.title }}</a>
          </td>
          <td>
            <a href="{% url 'articles:article-update' article.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'articles:article-delete' article.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  Nothing to show
{% endif %}