Are you sure you want to delete {{ client.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'clients:client-list' %}">Nevermind</a>
</form>