<a href="{% url 'clients:client-create' %}">Create</a>
<br />

<ul>
  {% for client in client_list %}
    <li>
      <a href="{% url 'clients:client-detail' client.id %}">{{ client.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>