Id: {{ client.id }}
<br />
Name: {{ client.name }}
<br />
Position: {{ client.email }}
<br />
Phone: {{ client.phone }}
<br />

<a href="{% url 'clients:client-update' client.id %}">Update</a>
<br />
<a href="{% url 'clients:client-delete' client.id %}">Delete</a>