Welcome to your personal blog
<br />
{% if user.is_authenticated %}
  <a href="{% url 'articles:article-list' %}">Posts</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
  <br />
  <a href="{% url 'registration:signup' %}">Signup</a>
{% endif %}
