<a href="{% url 'authors:author-create' %}">Create</a>
<br />

<ul>
  {% for author in author_list %}
    <li>
      <a href="{% url 'authors:author-detail' author.id %}">{{ author.name }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>