Are you sure you want to delete {{ author.name }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'authors:author-list' %}">Nevermind</a>
</form>