<a href="{% url 'supercars:supercar-create' %}">Create</a>
<br />

<ul>
  {% for supercar in supercar_list %}
    <li>
      <a href="{% url 'supercars:supercar-detail' supercar.id %}">{{ supercar.model }}</a>
    </li>
  {% empty %}
    Nothing to show
  {% endfor %}
</ul>