Id: {{ supercar.id }}
<br />
Model: {{ supercar.model }}
<br />
Engine: {{ supercar.engine }}
<br />
Transmission: {{ supercar.transmission }}
<br />
Speed: {{ supercar.speed }}
<br />

<a href="{% url 'supercars:supercar-update' supercar.id %}">Update</a>
<br />
<a href="{% url 'supercars:supercar-delete' supercar.id %}">Delete</a>