Are you sure you want to delete {{ supercar.model }}?

<form method="post">
  {% csrf_token %}
  <button type="submit">Yeah whatever</button>
  <a href="{% url 'supercars:supercar-list' %}">Nevermind</a>
</form>